

<p>Dear <%= (@user.username || @user.email) %>,</p>

<p>Welcome to Saintstir!
This is to confirm that you've created an account on the Saintstir system.
Feel free to explore, but we just wanted to point out a few things:
<ul>
  <li>If you've registered through Facebook / Google / Twitter, please <a href="http://www.saintstir.com/users/edit">complete the registration process</a> by filling out your profile information.</li>
  <li>Use our <a href="http://www.saintstir.com/saints">saint explorer</a>.</li>
  <li>Share your experiences on Facebook, Google Plus, or Twitter</li>
</ul>
</p>
<p>We hope you've enjoyed your visit, and hope you'll come back soon.</p>

<p>Sincerely,</p>
<p>Saintstir Team</p>


