<div class="page-header">
  <%=image_tag 'logo.png' %>
  <h1>Statsly&nbsp;&nbsp;<small>keeping stats sane</small></h1>
</div>

<p>
Statsly &copy; helps statistics students stay error-free by
making those lookups on z-tables, t-tables, and binomial
distributions (+ more) as simple as possible.  <i>Keeping
  stats sane, one student at a time.</i>
</p>

