<div>&nbsp;&nbsp;
  <a href="/auth/facebook">
    <%= image_tag "facebook_32.png", :size => "32x32", :alt => "Log in with Facebook" %></a>
  <a href="/auth/google_oauth2">
    <%= image_tag "google_32.png", :size => "32x32", :alt => "Log in with Google" %></a>
</div>



