
<%# //////------ SAINTSTIR INTEGRATION W/ ISOTOPE ------//////  %>

<%
# Since we are returning the entire set for now, we can cache all generated content
cache [CacheConfig::PARTITION_SAINTS_ISOTOPE] do %>

  <!--// Bread crumbs section :: list of searched filters -->
  <div class="row">
    <div class="span2">&nbsp;&nbsp;</div>
    <div id="bread_crumbs" class="span8">
   </div>
  </div>

  <div class="row">

    <!--// List of all available discrete filters -->
    <div id="discrete_filters" class="span2">

      <!--// "Show all" link -->
      <p><a href="#" class="btn" data-filter="*">Show All</a></p>

      <!--// Render all available filters, by category -->
      <% @attrib_categories.each do |category|
          #// if category code DNE in list of existing filters, the skip
          next if (!@attribs_all.has_key?(category.code))
      %>
        <p>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><%=category.name%><span class="caret"></span></a>
          <ul class="dropdown-menu filter-menus">
            <% @attribs_all[category.code].each do |attrib| %>
              <li><a href="#" data-filter=".<%=attrib.code%>"><%=attrib.name%></a></li>
            <% end %>
          </ul>
        </div>
        </p>
      <% end %>
    </div>

    <!--// All available saints -->
    <div id="isotope_content" class="span10 clickable clearfix">
    <%
      @saints.each do |saint|
         disc_filters = saint.attribs.map(&:code).join(" ")
       %>
     <%= render :partial => "saints/insignia_mini", :locals => {:saint => saint, :disc_filters => disc_filters} %>
    <% end %>
    </div>

  </div>

  <script>

//  Initialize the ExploreApp object, which has all bindings / behaviors for this screen
    $(document).ready(function() {
      var eapp = new ExploreApp();
      eapp.init();
      var popp = new SaintPopoverApp();
      popp.init();
    });
  </script>


<%
end
%>


