
<div class="span10">

  <h2>Terms of Use: Accepted</h2>

  <p>Welcome to the Saintstir developer network.  We're looking forward to see what you can
  do with the API.  Your application key and secret are below:</p>

  <table class="table table-bordered">
    <tr><td>Application</td><td><%=@api_user.app_name%></td></tr>
    <tr><td>App Key</td><td><%=@api_user.key%></td></tr>
    <tr><td>Secret</td><td><%=@api_user.secret%></td></tr>
  </table>

  <p>You'll also receive an email with your api details.  Glad to have you aboard.</p>

  <p>God bless,</p>
  <p>The Saintstir Team</p>

</div>


