
<div class="span10">

  <h2>Terms of Use: Rejected</h2>

  <p>We're sorry that you've decided not to accept the Saintstir API terms of use.</p>
  <p>If you change your mind in the future, you can always contact us.  We'll be happy to create another account for you.</p>
  <p>God bless,</p>
  <p>The Saintstir Team</p>


</div>


