<div class="page-header">


  <%=image_tag 'logo.png' %>
  <h1>Stats.ly&nbsp;&nbsp;<small>keeping stats sane</small></h1>
</div>

<p>Write some intro text, etc</p>
<p>Maybe some social media links, facebook like buttons, etc</p>
<p>Embedded twitter?</p>
<p>Footer bar</p>
<p>Split content between partials</p>

<br/><br/>

