


<div class="row">
  <div class="span8">
    <h2>Volunteer @ Saintstir</h2><br/>

    <p>Hi!  Thanks for your interest in volunteering!   The Saintstir project aims to create the world's first systematic
    taxonomy of the saints of the Catholic Church.  We believe this will change how the world views the saints, by
    making them more relevant and accessible to the modern world.  It's a lot of work, but also extremely fulfilling</p>

    <p>If you are interested in volunteering for us, please [<%= link_to "Contact Us", contact_us_path %>].</p>

    <br/>
    <h3>Saint Taxonomy Specialist</h3></br>

    <p>
    Are you interested in playing a defining role in creating the world's first classification of saints?
    Are you interested in helping to create the content that will drive Sainstir, and also learn more about
    the lives of the saints in the process? As a taxonomy specialist, you will work on the core classification
    system which is at the heart of Saintstir.  You will be responsible for properly researching and classifying
    saints on the Saintstir taxonomy, with an eye towards creating the most insightful picture of that particular saint.
    You'll also play a key role in evolving and refining the Saintstir taxonomy over time.</p>


  </div>
  <div class="span4">
    <%= image_tag "logo_white.jpg" %>
    <br/><br/>
    <%= render :partial => "layouts/embed_twitter" %>
  </div>

</div>

