<div class="col-xs-6 col-md-6">
  <h3>About Statsly</h3>

  <p>
  One of any statistics student's peeves (among many things) is
  the tedious process of looking up values in distribution tables.  I've
  made dozens of lookup mistakes when I took stats, and may have even
  gotten temporarily cross-eyed on late nights.</p>

  <p>So I created Statsly to <i> keep statistics sane</i>.
  There's just enough information for students of statistics to have to understand
  what they are looking for (and why), but enough convenience to keep lookup
  mistakes (and glasses prescriptions) to a minimum.  Enjoy!
  </p>
  <br/><br/>

  <!--// Twitter feed -->
  <a class="twitter-timeline" href="https://twitter.com/jliang1" data-widget-id="416361432016363520">Tweets by @jliang1</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

