<%
    # Set title for page using helper method utilities on controller
    set_page_title('WYD 2013')
%>
<div class="row">
  <div class="span9">&nbsp;</div>
  <div class="span3">
    <%= render :partial => 'layouts/fblike' %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <h2>World Youth Day 2013</h2>


      <iframe src="/explore/embed_search?q=&attributes=collections_wyd2013"
        width="800" height="400" frameborder="0" marginheight="0" marginwidth="0"></iframe>

  </div>
  <div class="span4">
  </div>
</div>

