

<div class="row">
  <div class="span8">

    <h2>About Saintstir</h2><br/>

    <p>Saintstir is a search engine that makes searching for, learning about and venerating the
    saints of the Catholic Church fun! Through an easy-to-use explorer, Saintstir will
    help you to discover facts about your favorite saints, discover saints that you've never
    known (but wish you had), and share your personal stories and prayers with friends.</p>

    <p>Most importantly, you'll learn why each saint is relevant for our modern world, and how our
    saints can teach, guide, and assist us through our journey on Earth.</p>

    <p>The Catholic saints who have a devoted following do so primarily because they practiced and perfected
    graces that people wish to emulate: for example, patience, or perseverance, or courage, etc.  We
    believe that its a saint's virtues and personal stories that capture the essence of who they
    are - and that lies at the center of the saints featured on Saintstir.</p>

    <p>Saintstir is a great site not only discover saints, but also to venerate
    saints with others.  Log into Saintstir with your Facebook &copy;, Twitter &copy; or Google &copy; account.
    Add a prayer to the saints and share a story about that saint if (s)he has had a particular impact on your life.
    Enrich others through your experiences.</p>

    <br/>
    <h2>Our Story</h2><br/>

    <p>The concept for Saintstir began in 2011, when I needed to choose a patron saint for my Catholic
    confirmation.  I wanted to find a saint who captured the virtues that I most wanted to emulate.  I wanted
    to find a saint who faced similar struggles and difficulties that I had faced.  I wanted to find a saint
    whom I could relate to.</p>

    <p>This could have been an incredibly daunting task.  There are thousands of recognized saints
    in the Catholic Church, scores of resources written over the last two thousand years of Catholic history,
    and simply not enough time.  I finally chanced upon a story that Pope Benedict XVI gave about the Spanish Bishop,
    <a href="http://www.vatican.va/holy_father/benedict_xvi/audiences/2008/documents/hf_ben-xvi_aud_20080618_en.html">
      [Saint Isidore of Seville]</a>.  Through this homily, I discovered a new dimension to this ancient saint
    of the 7th century.  I learned that Isidore was a celebrated intellectual and a Doctor of the Church, but that he
    also sought ways to make a difference within his community through active service.  His emphasis on the need for
    a balance between the contemplative and active life resonated with my own struggles to search out life's
    meaning through the churning thoughts within the depths of my heart.  And so perhaps I had it only
    partially correct all along.  Perhaps life's meanings are unveiled as we live life daily and minister
    to others, by God's grace.</p>

    <p><i>"Those who seek to attain repose in contemplation must first train in the stadium of active life; and then,
      free from the dross of sin, they will be able to display that pure heart which alone makes the vision of God possible.
      Therefore let the servant of God, imitating Christ, dedicate himself to contemplation without denying himself active life.
      Indeed, just as we must love God in contemplation, so we must love our neighbour with action." - Saint Isidore of Seville</i></p>

  <p>I sincerely hope that Saintstir will help you to discover that the saints, our extended family in heaven, are indeed
    alive and yearning to help us reach that beatific vision that God wills us all to share in.</p>

  <p>Sincerely,</p>
  <p>Jonathan<br/>Founder, Saintstir &copy;</p>

  </div>
  <div class="span4">
    <%= image_tag "logo_white.jpg" %>
    <br/><br/>
    <h2>News <a href="http://twitter.com/saintstir">@saintstir</a></h2><br/>
    <div class="tweet"></div>
  </div>

<script>
  $(document).ready(function() {
    // Initialize twitter js plugin
    $('.tweet').tweet({
      avatar_size: 32,
      count: 8,
      username: ['saintstir'],
      loading_text: "loading tweets..."
    });
  });
</script>


</div>


