

<div class="row">
  <div class="span8">

    <h2>About Saintstir &copy;</h2><br/>

    <p>Saintstir is a search engine that makes searching for, learning about and venerating the
    saints of the Catholic Church fun! Through an easy-to-use explore and search, Saintstir will
    help you to discover facts about your favorite saints, discover saints that you've never
    known (but wish you had), and share your personal stories and prayers with friends.</p>

    <p>Most importantly, you'll learn why each saint is relevant for our modern world, and how our
    saints can teach, guide, and assist us through our journey on Earth.  Saintstir provides a taxonomy
    on the saints by factoring in life experiences, graces, along with biographical details such as
    historical time periods, to make the saints more accessible to everyone.  We believe that its a saint's
    virtues and personal stories that capture the essence of who they are - and that lies at the center
    of the saints featured on Saintstir.</p>

    <p>Saintstir is a great site not only to discover saints, but also to share and learn with others.
    Log into Saintstir with your Facebook &copy;, Twitter &copy; or Google &copy; account.
    Add a prayer to the saints and share a story about that saint if (s)he has had a particular impact
    on your life.  Enrich others through your experiences.</p>

    <p>Integrating Saintstir with your website, blog, or app is easy as well.
    Just copy and paste the code links next to each saint to add saint tiles to your site.  If you are
    an app developer, our search and filtering API is available to the public.
    See the <a href="/statics/developers">Developer's Guide</a></p>

    <p>We sincerely hope that Saintstir will help you to discover that the saints, our extended family in heaven, are
    indeed alive and yearing to help us to reach the beatific vision that God will us all to share in.</p>

    <br/>

    <p>Sincerely, </p>
    <p>Jonathan, Julia, and the Saintstir &copy; Team</p>


  </div>
  <div class="span4">
    <%= image_tag "logo_white.jpg" %>
    <br/><br/>
    <h2>News <a href="http://twitter.com/saintstir">@saintstir</a></h2><br/>
    <div class="tweet"></div>
  </div>

<script>
  $(document).ready(function() {
    // Initialize twitter js plugin
    $('.tweet').tweet({
      avatar_size: 32,
      count: 8,
      username: ['saintstir'],
      loading_text: "loading tweets..."
    });
  });
</script>


</div>


