


<div class="row">
  <div class="span8">
    <h2>Volunteer @ Saintstir</h2><br/>

    <p>Creating a dictionary of saints is a lot of work!   If you know you are a good fit
    with any of the roles below, we'd love to hear from you - please do <%= link_to "Contact Us", contact_us_path %>..
    Thanks for your interest! </p>

    <br/>
    <h3>Saint Editors</h3></br>

    <p>
    Are you interested in playing a defining role in creating the world's first classification of saints?
    Are you interested in helping to create the content that will drive Sainstir,
    and also learn more about the lives of the saints in the process? A saint editor will work on the
    core taxonomy which is at the heart of Saintstir.  You will be responsible for
    properly researching and classifying saints on the Saintstir taxonomy, with an eye
    towards creating an insightful picture of that particular saint.  You'll also be responsible for
    evolving and refining the taxonomy over time.</p>


  </div>
  <div class="span4">
    <%= image_tag "logo_white.jpg" %>
    <br/><br/>
    <h2>News <a href="http://twitter.com/saintstir">@saintstir</a></h2><br/>
    <div class="tweet"></div>
  </div>

<script>
  $(document).ready(function() {
    // Initialize twitter js plugin
    $('.tweet').tweet({
      avatar_size: 32,
      count: 5,
      username: ['saintstir'],
      loading_text: "loading tweets..."
    });
  });
</script>
</div>

