<%# Saint Photoreel %>
<%# Assumed parameters: saint local variable %>
<%# We utilize the fancybox jquery plugin %>

<%
  sml_pics = FlickrService.get_photos(saint.id, saint.get_metadata_value(MetadataKey::FLICKR_SET), FlickrService::SIZE_SQUARE_SMALL)
  med_pics = FlickrService.get_photos(saint.id, saint.get_metadata_value(MetadataKey::FLICKR_SET), FlickrService::SIZE_MEDIUM)
%>
<div class="saint-gallery">
  <br/><br/>
  <% med_pics.each_with_index do |pic,idx| %>
    <a id="pic-<%=idx%>" href="<%=pic%>" class="fancybox-thumb">
      <img src="<%=sml_pics[idx]%>"/>
    </a>
  <% end %>
</div>
<script>
  $(document).ready(function() {


    // click event to load larger pics
    $('.fancybox-thumb').fancybox({
      prevEffect	: 'none',
      nextEffect	: 'none',
      helpers	: {
        title	: {type: 'outside'},
        overlay	: {opacity : 0.8, css : { 'background-color' : '#000' }},
        thumbs	: {width	: 40, height	: 50},
        buttons : {}
      }
    });

    // instructional tooltips
    var crdToolTip = 'Click on thumbnails to see larger image'
    var credits = '<%= saint.get_metadata_value(MetadataKey::PHOTOCREDITS).nil? ? "" : "Credits: " + saint.get_metadata_value(MetadataKey::PHOTOCREDITS) %>'
    if (credits != null && credits != '') {
      crdToolTip += '<br/><br/>' + credits;
    }

    $('.fancybox-thumb').tooltip({title: crdToolTip});

  });
</script>


