<h2>New saint</h2>

<%= link_to 'Back', saints_path %>

<br/><br/>

<%= form_tag(saints_path, {:method => :post }) do %>

    <%= render 'form' %>

<% end %>

<%= link_to 'Back', saints_path %>
<br/><br/>

