
<%# TOU - used in TOU prompt as well as welcome email %>

  <p>The Saintstir taxonomy and classification system belongs to Saintstir, and attribution
  must be provided in your applications.</p>

  <p>You may freely utilize the API to write applications and functionality and the full taxonomy on Saintstir, for
  non-commercial purposes only.  You may not sell applications that utilize the Saintstir API.</p>

  <p>We'll try our best to accomodate your usage of the API, but we do reserve the right to revoke your access to
  the API at any point in time for any reason, without recourse. </p>

  <p>Our data and taxonomy is licensed under Creative Commons.  The specifics of the license version that we are using
  are below.  Please do read through the creative commons license summary below </p>


