flask
requests
pandas
psycopg2
uuid
Pillow
markovify
google-cloud-storage
gunicorn
spacy==2.1.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
